*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #020617;
    font-family: 'Inter', sans-serif;
    color: #e5e7eb;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(2,6,23,0.9);
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    font-size: 24px;
    font-weight: 700;
}
.nav a{
    margin-left: 30px;
    text-decoration: none;
    color: #cbd5f5;
    transition: color 0.3s;
}

.nav a:hover{
    color: #38bdf8;
}

.hero{
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 60px;
    justify-content: space-around;
    overflow: hidden;
    background: 
        linear-gradient(
            to right,
            rgba(2,6,23,0.95),
            rgba(2,6,23,0.85),
            rgba(2,6,23,0.6)
        ),
        url(https://www.itl.cat/pngfile/big/22-226503_interstellar-wallpaper-4k-interstellar-poster-wallpaper-hd.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

.hero-content h2{
    color: #38bdf8;
    font-weight: 400;
}

.hero-content h1{
    font-size: 64px;
    margin: 10px 0;
}

.hero-content p{
    max-width: 400px;
    opacity: 0.8;
}

.btn{
    display: inline-block;
    margin-top: 25px;
    padding: 14px 30px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: transform 0.3s,box-shadow 0.3s;
}
.hero_image{
    max-width: 60%;
    display: flex;
    justify-content: flex-end;
}

.hero_image img{
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.6);
    transition: transform 0.4s ease;
}

.hero_image img:hover{
    transform: scale(1.05);
}

.coming-soon{
    padding: 80px 60px;
    text-align: center;
}

.movie-cards{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{
    background: #020617;
    border: 1px solid #1e293b;
    border-radius: 15px;
    width: 220px;
    height: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    padding: auto;
    align-items: center;
    transition: transform 0.3s ease,filter 0.3s ease;
    
}
.card:hover{
    filter: brightness(1);
    transform: scale(1.08);
    z-index: 10;
}
.card::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}
.card span{
    position: relative;
    z-index: 2;
    color: white;
    font-weight: 600;
    user-select: none;
}

.a-2001{
    background: url(https://i.pinimg.com/originals/8b/ee/c3/8beec3eebb80ba4d758aa7ba9daf0739.jpg);
    background-size: cover;
}

.Oppenheimer{
    background: url(https://c8.alamy.com/comp/2T2GNYE/oppenheimer-cillian-murphy-poster-2T2GNYE.jpg);
    background-size: cover;
}

.Martian{
    background: url(https://tse2.mm.bing.net/th/id/OIP.RZXt0v5ZnYUtTtNdzAMvlQHaK-?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
}

.offers{
    background: linear-gradient(135deg,#00d2ff 0%, #3a7bd5 100%);
    color: #020617;
    padding: 60px;
    text-align: center;
    height: fit-content;
    border-radius: 20px;
    animation: float 3s ease-in-out infinite;
    user-select: none;
    transition: transform 0.3s ease,filter 0.3s ease;
    margin-right: 30px;
    box-shadow: 0 0 20px rgba(0,210,255,0.5), 0 0 40px rgba(0,210,255,0.2);
}

@keyframes float{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-15px);}
    100%{transform: translateY(0px);}
}

.offers:hover{
    box-shadow: 0 0 30px rgba(0,210,255,0.8);
    transform: translateY(-5px);
}

.offers h2{
    font-size: 32px;
    margin-bottom: 10px;
}

.footer{
    padding: 20px;
    text-align: center;
    background: #020617;
    border-top: 1px solid #1e293b;
}

.after_hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.details a{
    text-decoration: none;
    color: rgb(150, 243, 255);
}

